<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" height="20px">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto ms-2 mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 nav-link-style">Home</a></li>
                <li><a href="#" class="nav-link px-2 nav-link-style">Restaurants</a></li>
            </ul>
            
            <div class="text-end">
                <button type="button" class="btn btn-light me-2">Login</button>
                <button type="button" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</header>