{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<h1>Search</h1>

<form method="POST" role="search" class="row g-3 d-flex mt-4">
    <div class="col-auto flex-grow-1">
        <input type="search" class="form-control" placeholder="Search for restaurants..." aria-label="Search" id="keyword" name="keyword">
    </div>
    <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div class="my-3">
    {% if restaurants is defined and restaurants|length > 0 %}
    <p class="mt-3"><strong>{{ results }}</strong> restaurants found</p>
    {% for r in restaurants %}
    <div class="card text-left">
        <div class="card-body">
            <h5 class="card-title">{{r['name']}}</h5>
            <p class="card-text">{{r['price']}} {{r['cuisine']}}</p>
            <a href="{{ url_for('restaurant.info', rid=r['rid']) }}" class="button-link">
                <button type="button" class="btn btn-primary">View Restaurant</button>
            </a>
        </div>
    </div>
    <br>
    {% endfor %}
    {% else %}
    <p class="mt-3">{{ message }}</p>
    {% endif %}
</div>

{% endblock %}