{% extends 'base.html' %}

{% block title %}Display Reviews{% endblock %}

{% block content %}

<div class="container">
    <h1>My Reviews</h1>
    <br>
    <a href="{{ url_for('review.make') }}" class="btn btn-primary btn-lg">Make a Review</a>
    <button type="button" class="btn btn-primary btn-lg">Review</button>
</div>
<!-- Loop through each review in the reviews list and display its data -->
<!-- {% for review in reviews %}
<div class="container">
    <h3>Review ID: {{ review.review_id }}</h3>
    <p>CID: {{ review.CID }}</p>
    <p>RID: {{ review.RID }}</p>
    <p>BID: {{ review.BID }}</p>
    <p>Review: {{ review.Review }}</p>
    <p>Rating: {{ review.Rating }}</p>
    <p>CreatedDateTime: {{ review.CreatedDateTime }}</p>
    <p>Comment: {{ review.Comment }}</p>
    <hr>
</div>
{% endfor %} -->

{% endblock %}
