{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ url_for('home.home') }}"><i class="fa-solid fa-house"></i> Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>

<h1>My Profile</h1>

<div class="container mt-4">
    <div class="row">

        <!-- profile info -->
        <div class="col-sm-4">
            <div class="custom-box">
                <form>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" readonly class="form-control-plaintext" id="username" name="username" value="{{ user.username }}">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" readonly class="form-control-plaintext" id="email" name="email" value="{{ user.email }}">
                    </div>
                    <div class="mb-3">
                        <label for="contact-number" class="form-label">Contact Number</label>
                        <input type="tel" readonly class="form-control-plaintext" id="contact-number" name="contact-number" value="{{ user.contact_number }}">
                    </div>
                    <div class="mb-3">
                        <a href="{{ url_for('profile.edit') }}">
                            <button type="button" class="btn btn-light">Edit <i class="fa-solid fa-pen-to-square"></i></button>
                        </a>
                    </div>
                </form>
            </div>
        </div>

        <!-- reviews, bookings, orders -->
        <div class="col-sm-8">
            <div class="custom-box mb-3">
                <div class="d-flex justify-content-between mb-2">
                    <h2>My Reviews</h2>
                    <a href="{{ url_for('profile.reviews') }}">
                        <button type="button" class="btn btn-light">View More <i class="fa-solid fa-arrow-right"></i></button>
                    </a>
                </div>
                
                {% if reviews is defined and reviews|length > 0 %}
                    <!-- print top 3 -->
                    {% for review in reviews %}
                    <div class="card mb-2">
                        <div class="card-body">
                            {% for star in range(5) %}
                            {% if star < review.Rating %} 
                            <i class="fa-solid fa-star" style="color: #ea580c;"></i>
                            {% else %}
                            <i class="fa-regular fa-star" style="color: #ea580c;"></i>
                            {% endif %}
                            {% endfor %}

                            <p class="long-text mt-3">{{ review.Review }}</p>

                            {% set date = review.CreatedDateTime.split(' ') %}
                            <p class="mb-2"><small>{{ date[0] }}</small></p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>You do not have any reviews yet.</p>
                {% endif %}
            </div>
            <div class="custom-box mb-3">
                <div class="d-flex justify-content-between mb-2">
                    <h2>My Booking History</h2>
                    <a href="{{ url_for('profile.bookings') }}">
                        <button type="button" class="btn btn-light">View More <i class="fa-solid fa-arrow-right"></i></button>
                    </a>
                </div>
                
                {% if bookings is defined and bookings|length > 0 %}
                <!-- print top 3 -->
                {% for booking in bookings %}
                <div class="card mb-2">
                    <div class="card-body">
                        {% for restaurant in restaurants %}
                        {% if restaurant['rid'] == booking['rid'] %}
                        <p class="card-title"><strong>{{ restaurant['name'] }}</strong></p>   
                        {% endif %}             
                        {% endfor %}             
                        <p class="mb-2 card-text"><small><i class="fa-regular fa-calendar"></i>  {{ booking['date'] }}</small></p>
                        <p class="mb-2 card-text"><small><i class="fa-regular fa-clock"></i>  {{ booking['time'].strftime("%I:%M %p") }}</small></p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>You do not have any bookings that passed yet.</p>
                {% endif %}
            </div>
            <div class="custom-box mb-3">
                <div class="d-flex justify-content-between mb-2">
                    <h2>My Order History</h2>
                    <a href="{{ url_for('profile.orders') }}">
                        <button type="button" class="btn btn-light">View More <i class="fa-solid fa-arrow-right"></i></button>
                    </a>
                </div>
                
                {% if orders is defined and orders|length > 0 %}
                    <!-- print top 3 -->
                    {% for order in orders %}
                    <div class="card mb-2">
                        <div class="card-body">
                            {% for restaurant in restaurants %}
                            {% if restaurant['rid'] == order['rid'] %}
                            <p class="card-title"><strong>{{ restaurant['name'] }}</strong></p>
                            {% endif %}
                            {% endfor %}
                            <p class="mb-2 card-text"><small><i class="fa-regular fa-calendar"></i> {{ order['date'] }}</small></p>
                            <p class="mb-2 card-text"><small><i class="fa-regular fa-clock"></i> {{ order['pickup_time'].strftime("%I:%M %p")
                                    }}</small></p>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>You do not have any orders that passed yet.</p>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}