<!-- <!DOCTYPE html>
<html>
    <header>-->
        <!-- CSS -->
        <!-- <link rel="stylesheet" href="..\static\css\styles.css"> -->
        <!-- <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"> -->
        <!--use navbar for all pages-->
        <!-- <script src="..\static\js\navbar.js"></script> -->
        <!-- <script src="<%= url_for('static', 'js/navbar.js') %>"></script> -->
    <!-- </header>
    <body>
        <h1>My Reviews</h1>
        <p>will load the extrated reviews from data base here and add filters based on the squl query I am going to work on</p>
    </body>
</html> -->
{% extends 'base.html' %}

{% block title %}Restaurant{% endblock %}

{% block content %}
<h1>My Reviews</h1>
{% endblock %}